
@{
    ViewBag.Title = "Member Confirmation";
}
<div style="background-color:peachpuff; border-radius:30px; padding:5%;margin-left:-4%;">
    <h2>Fit for Life Member Confirmation</h2>
    <p>ID#=@Model.ID</p>
    <p>Name: @Model.name</p>
    <p>Age: @Model.age</p>
    <p>Identifies As: @Model.gender</p>
</div>

